#
include LICENSE
include README.md

include fdxread

include requirements.txt
include fdxprotocol.rst
include dumps/onsdagsregatta-2016-08-24.dump

# Include the data files
#recursive-include data *
